datafactory/pipeline/graphql.json
{
	"name": "graphql",
	"properties": {
		"activities": [
			{
				"name": "Get Tokens",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.myshn.net/neo/neo-auth-service/oauth/token?grant_type=password",
					"method": "POST",
					"headers": {
						"X-Auth-Username": "casb.analytics@hsbc.com",
						"X-Auth-Password": "5c30fivW468TTljk!"
					},
					"body": " "
				}
			},
			{
				"name": "Get Scans",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Tokens",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.myshn.net/neo/shndlpapi/v2/graphql",
					"method": "POST",
					"headers": {
						"x-access-token": {
							"value": "@activity('Get Tokens').output.access_token",
							"type": "Expression"
						},
						"x-auth-token": {
							"value": "@activity('Get Tokens').output.refresh_token",
							"type": "Expression"
						}
					},
					"body": {
						"query": "query ScanStatusQuery($scanConfigIds: [Int]!) {getScanStatusByScanConfig(scanConfigIds: $scanConfigIds)}",
						"variables": {
							"scanConfigIds": [
								80894,
								82305,
								82307,
								82758,
								76458,
								76460,
								80873
							]
						}
					}
				}
			}
		],
		"variables": {
			"access_tok": {
				"type": "String"
			},
			"refresh_tok": {
				"type": "String"
			}
		},
		"annotations": []
	}
}