datafactory/pipeline/mvision-dar-scans.json
{
	"name": "mvision-dar-scans",
	"properties": {
		"activities": [
			{
				"name": "Get Tokens",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.myshn.net/neo/neo-auth-service/oauth/token?grant_type=password",
					"method": "POST",
					"headers": {
						"X-Auth-Username": "casb.analytics@hsbc.com",
						"X-Auth-Password": "5c30fivW468TTljk!"
					},
					"body": " "
				}
			},
			{
				"name": "Get Scan Details",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Scans",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.baseUrl",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"x-access-token": {
							"value": "@activity('Get Tokens').output.access_token",
							"type": "Expression"
						},
						"x-auth-token": {
							"value": "@activity('Get Tokens').output.refresh_token",
							"type": "Expression"
						}
					},
					"body": {
						"query": "query ScanStatusQuery($scanConfigIds: [Int]!) {getScanStatusByScanConfig(scanConfigIds: $scanConfigIds)}",
						"variables": {
							"scanConfigIds": [
								80894,
								82305,
								82307,
								82758,
								76458,
								76460,
								80873
							]
						}
					}
				}
			},
			{
				"name": "Get Scans",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Tokens",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.baseUrl",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"query": "query ODSSummaryPageQuery($queryRequest: [OmnibarPillContainerInput], $sortColumn: SortColumnInput, $sortOrder: SortOrderInput) { getScanOverview(scanFilter: {queryRequest: $queryRequest, sortOrder: $sortOrder, sortColumn: $sortColumn}) { description estimationSupported scanId scanConfigId scanMode scanName scanType scanPolicyType schedule status runDate readOnlyConfig numErrors numIncidents scanInstanceCount cspId jurisdictionId __typename }}",
						"variables": {
							"queryRequest": [
								{
									"category": "Scan Type",
									"categoryGroupTypeId": null,
									"categoryId": "Scan_Policy_Type",
									"operator": "not",
									"categoryValue": [
										{
											"name": "Configuration Audit Phantom",
											"id": "Configuration Audit Phantom",
											"parentId": "scanPolicyType",
											"hasFacet": true
										}
									],
									"subcategoryValue": [],
									"subcategory": null,
									"subcategoryId": null,
									"comparator": null,
									"fixed": false
								}
							]
						}
					}
				}
			}
		],
		"parameters": {
			"baseUrl": {
				"type": "string",
				"defaultValue": "https://www.myshn.net/neo/shndlpapi/v2/graphql"
			}
		},
		"variables": {
			"access_tok": {
				"type": "String"
			},
			"refresh_tok": {
				"type": "String"
			}
		},
		"annotations": []
	}
}