datafactory/pipeline/mvision-incidents.json
{
	"name": "mvision-incidents",
	"properties": {
		"activities": [
			{
				"name": "Get Tokens",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.myshn.net/neo/neo-auth-service/oauth/token?grant_type=password",
					"method": "POST",
					"headers": {
						"X-Auth-Username": "casb.analytics@hsbc.com",
						"X-Auth-Password": "5c30fivW468TTljk!"
					},
					"body": " "
				}
			},
			{
				"name": "Get Incidents",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Tokens",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.myshn.net/neo/watchtower/ui/v1/73138/incident/search",
					"method": "POST",
					"headers": {
						"x-access-token": {
							"value": "@activity('Get Tokens').output.access_token",
							"type": "Expression"
						},
						"x-auth-token": {
							"value": "@activity('Get Tokens').output.refresh_token",
							"type": "Expression"
						}
					},
					"body": {
						"query_request": {
							"search_query": {
								"type": "between_search_query",
								"field": "created_on_date",
								"lower_bound": "2021-01-24T00:00:00.000+00:00",
								"upper_bound": "2021-01-25T00:00:00.000+00:00"
							},
							"timezone": "UTC",
							"pagination": {
								"offset": 0,
								"limit": 1000
							}
						},
						"incident_types": [
							0
						],
						"filter_type": "Policy",
						"filter_application": "Violation",
						"columns": [
							{
								"field": "name",
								"selected": true,
								"index": 0,
								"headerName": "Policy Name",
								"mandatory": false
							},
							{
								"field": "status",
								"selected": true,
								"index": 4,
								"headerName": "Policy Status",
								"mandatory": false
							},
							{
								"field": "services",
								"selected": true,
								"index": 5,
								"headerName": "Associated Services",
								"mandatory": false
							},
							{
								"field": "deployment_method",
								"selected": true,
								"index": 3,
								"headerName": "Deployment",
								"mandatory": false
							},
							{
								"field": "total_unresolved",
								"selected": true,
								"index": 2,
								"headerName": "Total Unresolved",
								"mandatory": false
							},
							{
								"field": "total_incidents",
								"selected": true,
								"index": 1,
								"headerName": "Total Incidents",
								"mandatory": false
							}
						]
					}
				}
			}
		],
		"variables": {
			"access_tok": {
				"type": "String"
			},
			"refresh_tok": {
				"type": "String"
			}
		},
		"annotations": []
	}
}