datafactory/pipeline/mvision-incidents.json
{
	"name": "mvision-incidents",
	"properties": {
		"activities": [
			{
				"name": "Get Tokens",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.myshn.net/neo/neo-auth-service/oauth/token?grant_type=password",
					"method": "POST",
					"headers": {
						"X-Auth-Username": "casb.analytics@hsbc.com",
						"X-Auth-Password": "5c30fivW468TTljk!"
					},
					"body": " "
				}
			},
			{
				"name": "Get Incidents",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Tokens",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.myshn.net/neo/watchtower/ui/v1/73138/incident/search",
					"method": "POST",
					"headers": {
						"x-access-token": {
							"value": "@activity('Get Tokens').output.access_token",
							"type": "Expression"
						},
						"x-auth-token": {
							"value": "@activity('Get Tokens').output.refresh_token",
							"type": "Expression"
						}
					},
					"body": "{\n\t\"query_request\": {\n\t\t\"search_query\": {\n\t\t\t\"type\": \"between_search_query\",\n\t\t\t\"field\": \"created_on_date\",\n\t\t\t\"lower_bound\": \"2021-01-24T00:00:00.000+00:00\",\n\t\t\t\"upper_bound\": 2021-01-25T00:00:00.000+00:00,\n\t\t},\n\t\t\"timezone\": \"UTC\",\n\t\t\"pagination\": {\n\t\t\t\"offset\": 0,\n\t\t\t\"limit\": 1000\n\t\t}\n\t},\n\t\"incident_types\": [\n\t\t0\n\t],\n\t\"filter_type\": \"Policy\",\n\t\"filter_application\": \"Violation\",\n\t\"columns\": [\n\t\t{\n\t\t\t\"field\": \"name\",\n\t\t\t\"selected\": True,\n\t\t\t\"index\": 0,\n\t\t\t\"headerName\": \"Policy Name\",\n\t\t\t\"mandatory\": False\n\t\t},\n\t\t{\n\t\t\t\"field\": \"status\",\n\t\t\t\"selected\": True,\n\t\t\t\"index\": 4,\n\t\t\t\"headerName\": \"Policy Status\",\n\t\t\t\"mandatory\": False\n\t\t},\n\t\t{\n\t\t\t\"field\": \"services\",\n\t\t\t\"selected\": True,\n\t\t\t\"index\": 5,\n\t\t\t\"headerName\": \"Associated Services\",\n\t\t\t\"mandatory\": False\n\t\t},\n\t\t{\n\t\t\t\"field\": \"deployment_method\",\n\t\t\t\"selected\": True,\n\t\t\t\"index\": 3,\n\t\t\t\"headerName\": \"Deployment\",\n\t\t\t\"mandatory\": False\n\t\t},\n\t\t{\n\t\t\t\"field\": \"total_unresolved\",\n\t\t\t\"selected\": True,\n\t\t\t\"index\": 2,\n\t\t\t\"headerName\": \"Total Unresolved\",\n\t\t\t\"mandatory\": False\n\t\t},\n\t\t{\n\t\t\t\"field\": \"total_incidents\",\n\t\t\t\"selected\": True,\n\t\t\t\"index\": 1,\n\t\t\t\"headerName\": \"Total Incidents\",\n\t\t\t\"mandatory\": False\n\t\t}\n\t]\n}"
				}
			}
		],
		"variables": {
			"access_tok": {
				"type": "String"
			},
			"refresh_tok": {
				"type": "String"
			}
		},
		"annotations": []
	}
}